/* fonts import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.search-bar input{
    border: 1px solid #94B49F;
    border-radius: 10px;
    height: 50px;
    background-color: #fff;
    padding-left: 0.75rem;
}
.search-bar button{
    border: 1px solid #94B49F;
    border-radius: 10px;
    height: 50px;
    background-color: #789395;
    font-size: 1.5rem;
    color: antiquewhite;
}

.loading-img{
    width: 75px;
    display: none;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#phone-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    border: 0;
}

#card-image{
    margin-left: auto;
    margin-right: auto;
}

#see-more-button{
    display: none;
    margin-bottom: 50px;
}

#not-found{
    display: none;
}

.phone-details-container{
    width: 80%;
    border: 1px;
    border-radius: 10px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* position: relative; */
    top: 1rem;
}
